<div class="container-md" id="expired-tasks">
    <h5 class="mt-5 text-danger text-center">↪ Task Scaduti ‼</h5>
    
    @if (tasks.length == 0) {
        <p class="ms-3 mt-3 text-success text-center">Non ci sono task scaduti! ⏰</p>
    }
    @else {
        <div class="container-fluid">
            <div class="row">
                    @for (task of tasks; track $index) {
                        <div class="col-auto">
                            <app-task [task]="task" (taskIdEvent)="requestedTaskId($event)"></app-task>
                        </div>
                    }
            </div>
        </div>
    }
</div>