#extensions {
    width: 400px;
    margin: 0 auto;
}

#report-section {
    color: #000;
    margin-top: 20px;
    border-radius: 12px;
    background-color: #dbdfe4;
    backdrop-filter: blur(10px);
    padding: 16px;
}

label {
    font-size: 11pt;
}

select {
    width: 78%;
}

@media screen and (max-width: 466px) {
    #extensions {
        width: 90%;
    }
}