<div class="container-md" id="not-completed-tasks">
    <h5 class="mt-5 ms-3 text-info">↪ Task da completare ◯</h5>
    
    @if (tasks.length == 0) {
        <p class="ms-3 mt-3 text-success">Non ci sono task da completare! 🎉</p>
    }
    @else {
        <div class="container-fluid">
            <div class="row">
                @for (task of tasks; track $index) {
                    <div class="col-auto">
                        <app-task [task]="task"></app-task>
                    </div>
                }
            </div>
        </div>
    }
</div>