* {
    user-select: none;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

#wrapper {
    background-color: #1c3247;
}

h1, h6 {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
